<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>CloudDirectoryCore</display-name>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Rest API</web-resource-name>
            <url-pattern>/resources/*</url-pattern>
        </web-resource-collection>
        <!-- Downloadable items are protected by a servlet filter which requests basic authentication if not authorized.
         This is useful when requests are initiated by Java Webstart client -->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>Downloadable items</web-resource-name>-->
            <!--<url-pattern>/download/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
        <!-- No need for a transport-guarantee if the service is behind an SSL reverse proxy  -->
        <!-- 		<user-data-constraint>
                    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
                </user-data-constraint> -->
    </security-constraint>
    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>XS</realm-name>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>user</role-name>
    </security-role>

</web-app>